/*
! Swiper
*/
.swiper.is-hp-galery .swiper-wrapper {
  transition-timing-function: linear !important;
}

/*
! Button icon hover effect
*/
a[href]:hover div[svg='component'] {
  transform: translateX(0.5rem);
  transition: transform 0.3s ease-in-out;
}

a[href] div[svg='component'] {
  transition: transform 0.3s ease-in-out;
}

/*
! Logo mobile partners
*/
.logo-mobile-partners {
  display: none;
}

@media screen and (width >= 768px) {
  .logo-mobile-partners {
    display: block;
  }
  .logo-desktop-partners {
    display: none;
  }
}
.section_gallery .gallery_flex {
  flex-wrap: wrap;
}

.section_gallery .gallery_item {
  box-sizing: border-box;
  flex: 0 0 calc((100% - 3 * 6rem) / 4); /* 4 colonnes + 3 gaps */
  max-width: calc((100% - 3 * 6rem) / 4);
}

.test_wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  gap: 6rem;
}

.test_wrapper .test_item {
  box-sizing: border-box;
  --aspect-ratio: 1 / 1;
  aspect-ratio: var(--aspect-ratio);
  transition: aspect-ratio 0.5s ease-in-out;
}

.test_wrapper .test_item.active {
  --aspect-ratio: 300 / 375;
}
