/*
! Swiper
*/
.swiper.is-hp-galery .swiper-wrapper {
  transition-timing-function: linear !important;
}

/*
! Button icon hover effect
*/
a[href]:hover div[svg='component'] {
  transform: translateX(0.5rem);
  transition: transform 0.3s ease-in-out;
}

a[href] div[svg='component'] {
  transition: transform 0.3s ease-in-out;
}

/*
! Logo mobile partners
*/
.logo-mobile-partners {
  display: none;
}

@media screen and (width >= 768px) {
  .logo-mobile-partners {
    display: block;
  }
  .logo-desktop-partners {
    display: none;
  }
}

.gallery_grid .gallery_item {
  box-sizing: border-box;
  --aspect-ratio: 1 / 1;
  aspect-ratio: var(--aspect-ratio);
  transition: aspect-ratio 0.5s ease-in-out;
}

.gallery_grid .gallery_item.active {
  --aspect-ratio: 300 / 375;
}

.gallery_grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  gap: 6rem;
}
